 .main {
     width: 100%;
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
 }

 .box {
     background-color: black;
     color: white;
     height: 200px;
     text-align: center;
     font-size: 60px;
 }


 /* grid 2  */

 .main1 {
     width: 100%;
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
 }

 .box1 {
     background-color: black;
     color: white;
     min-height: 200px;
     text-align: center;
     font-size: 60px;
 }

 .main1 div:nth-child(1) {
     grid-column: 1/3;
 }

 .main1 div:nth-child(3) {
     grid-column-start: 3;
     grid-row-start: 1;
     grid-row-end: 3;
 }

 /* grid 3 */
 .main2 {
     width: 100%;
     display: grid;
     grid-template-columns: auto auto auto;
     gap: 20px;
 }

 .box2 {
     background-color: black;
     color: white;
     height: 200px;
     text-align: center;
     font-size: 60px;
 }

 .main2 div:nth-child(1) {
     grid-column: 1/4;
     height: 100px !important;
 }

 .main2 div:nth-child(3) {
     grid-column: 2/4;

 }

 .main2 div:nth-child(4) {
     grid-column: 1/4;
     height: 100px !important;
 }




 /* grid 4 */
 .main3{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
}

.box3 {
    background-color: black;
    color: white;
    height: 300px;
    text-align: center;
    font-size: 60px;
}




 /* grid 5 */

 body {
     margin: 40px;
 }

 .wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(4, [col] 500px);
     grid-template-rows: repeat(2, [row] auto);
     background-color: #fff;
     color: #444;
     width: 100%;
 }

 .box5 {
     background-color: #0c0c0c;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;
     height: 200px;
     text-align: center;
 }

 .box5 .box6 {
     background-color: #ccc;
     color: #444;
 }

 .a {
     grid-column: col / span 2;
     grid-row: row;
 }

 .b {
     grid-column: col 3 / span 2;
     grid-row: row;
 }

 .c {
     grid-column: col / span 2;
     grid-row: row 2;
 }

 .d {
     grid-column: col 3 / span 2;
     grid-row: row 2;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 1fr 1fr;
 }

 .e {
     grid-column: 1 / 3;
     grid-row: 1;
 }

 .f {
     grid-column: 1;
     grid-row: 2;
 }

 .g {
     grid-column: 2;
     grid-row: 2;
 }

 /* grid 6   */

 
 .main4{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    gap: 20px;
}

.box4 {
    background-color: black;
    color: white;
    height: 300px;
    text-align: center;
    font-size: 60px;
}

.main4 div:nth-child(8){
        grid-column: 3 / 6;
}
.main4 div:nth-child(9){
        grid-column: 1/ 6;
}


/* grid 8 */

 
 .main7{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
}

.box7 {
    background-color: black;
    color: white;
    min-height: 300px;
    text-align: center;
    font-size: 60px;
}
.main7 div:nth-child(1){
        grid-column: 1/ 4;
        height: 200px;
}
.main7 div:nth-child(2){
grid-row: 2/4;
}
.main7 div:nth-child(3){
    grid-row: 2;
grid-column: 2/4; }



/* grid 9 */
 
 .main8{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 20px;
}

.box8 {
    background-color: black;
    color: white;
    min-height: 300px;
    text-align: center;
    font-size: 60px;
}
.box8:nth-child(1){
    grid-column: 1/4;
    background-color: rgb(0, 0, 0);
    gap: 20px;
}
.inner-box8{
    background-color: rgb(61, 141, 75);
    gap: 10px;
}

.parent-box{
    display: grid;
  grid-template-columns: auto auto ;

 
}