* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 10px 1px 8px rgb(228, 228, 228);
  z-index: 5;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.list li {
  padding: 10px 20px;
  font-size: 16px;
  color: #1f1f1f;
  text-decoration: none;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.list li a:hover {
  color: rgb(247, 77, 47);
  transition: 0.15s;
}

.main-page {
  min-height: 550px;
  background-color: #f7dfe0;
  border-bottom-left-radius: 27%;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 27%;
}

.main-button {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 12px 40px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  border: none;
  transition: 0.6s;
}

.main-button:hover {
  background-color: white;
  color: rgb(37, 37, 37);
  padding: 12px 40px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.red {
  color: rgb(243, 60, 28);
  font-weight: 700;
}

.main-left {
  margin: 0 20px 0 120px;
}

.main-left h1 {
  font-size: 45px;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-left p {
  font-size: 17px;
  margin-bottom: 30px;
  color: gray;
  word-spacing: 2px;
}

.main-right {
  margin: 0 80px 0 0;
}

.main-right img {
  width: 500px;
  height: 500px;
}

.firstpage {
  width: 100%;
  height: 100vh;
  padding: 100px 0;
}

.first-line {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #ff4f5a;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

.second-line {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  font-weight: 600;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
  text-align: center;
}

.third-line p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #4b4b4b;
  margin: 40px;
  word-spacing: 3px;
  line-height: 25px;
}

.container {
  height: 1035px;
  width: 1140px;
  margin-left: 140px;
  margin-right: 140px;
}

.la-motorcycle {
  color: #ff4f5a;
  font-size: 60px;
}

.la-lightbulb {
  color: #ff4f5a;
  font-size: 60px;
}

.la-fighter-jet {
  color: #ff4f5a;
  font-size: 60px;
}

.la-pencil-ruler {
  color: #ff4f5a;
  font-size: 60px;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 50px;
  text-align: center;
}

.box h3 {
  margin: 25px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.box p {
  font-family: "Montserrat", sans-serif;
  word-spacing: 2.5px;
  color: #787878;
}

.one1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.188);
  padding: 80px 0 0px;
}

.box1 {
  border-right: 1px solid rgba(0, 0, 0, 0.188);
}


.secondpage {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/asset\ 10.jpeg);
  background-repeat: no-repeat;
  margin-top: 300px;
  padding: 100px 0;
}

.swiper {
  width: 75%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 262px;
  height: 450px;
  object-fit: cover !important;
}


.thirdpage {
  width: 100%;
  min-height: 100vh;
  padding: 100px 95px;
}

.container1 {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side2 img {
  width: 280px;
  height: 560px;
}

.boxx {
  text-align: center;
  padding-bottom: 50px;
}

.boxx h3 {
  margin: 25px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.boxx p {
  font-family: "Montserrat", sans-serif;
  word-spacing: 2.5px;
  color: #2b2b2b;
  line-height: 25px;
  font-size: 15px;
}

.side {
  padding: 0 60px;
}

.la-hippo {
  color: #ff4f5a;
  font-size: 40px;
}

.la-cog {
  color: #ff4f5a;
  font-size: 40px;
}

.la-laptop-code {
  color: #ff4f5a;
  font-size: 40px;
}

.la-folder-open {
  color: #ff4f5a;
  font-size: 40px;
}

.fourthpage {
  width: 1519px;
  height: 522px;
  padding: 100px 0 100px 0;
  background-image: url(../images/asset\ 11.jpeg);
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  padding: 20px 40px;
  background-color: white;
  color: black;
  border: 0;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border: solid 1px #fff;
  transition: 0.8s ease;
  display: flex;
  justify-content: center;
}

.btn:hover {
  padding: 20px 50px;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  transition: 0.8s ease;
  border: 0;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  border: solid 1px #fff;
}

.fourth-line {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #1f1f1f;
  font-weight: 600;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn i {
  margin-right: 15px;
  font-size: 25px;
}

.fivepage {
  width: 1519px;
  height: 250px;
  padding: 100px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.icons li {
  padding-right: 50px;
  font-size: 24px;
  color: #1f1f1f;
  line-height: 64px;
  text-align: center;
}

.img-top {
  position: absolute;
  width: 235px;
  height: 425px;
  background-color: #1f1f1f;
  top: 3100px;
  left: 595px;
  overflow: hidden;
}

.ourswiper{
  width: 100% !important;
  height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.img1{
  width: 100%;
  object-fit: cover;
}
