<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./output.css" rel="stylesheet">
</head>

<body>
    <div class="container mx-auto">
        <h1 class="text-center text-2xl my-8 text-black">Band Of Directors</h1>
        <div class="flex justify-between">
            <div class="w-screen">
                <img src="component/pexels-tirachard-kumtanom-112571-733853.jpg" class="rounded" alt="">
            </div>
            <div class="px-10">
                <h2 class="mt-7 mb-1 text-xl font-semibold">Steavn Steel</h2>
                <h6 class="mb-3 font.">Opeartional Director</h6>
                <p class="mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit
                    perspiciatis,<br> dolore ad unde
                    ullam culpa? Quidem quasi quam obcaecati quo aspernatur debitis nisi<br> perspiciatis similique
                    numquam
                    eumnsectetur adipisicing elit. Est impedit sunt porro natus hic. Exercitationem cum nemo magnam
                    similique, quaerat ut amet reprehenderit dolorum sit saepe molestias fugiat fugit rerum.</p>
                <hr>
                <div class="flex justify-between">
                    <div class="items-baseline mt-4">
                        <div class="btn bg-purple-600 py-3 px-6 text-md font-medium rounded"><i
                                class="fa-solid fa-envelope pr-2 text-lg"></i>Get in</div>
                    </div>
                    <div>
                        <ul class="flex justify-center mt-4 ">
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-twitter"></i></li>
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-linkedin-in"></i></li>
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-google"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <!-- 4th component -->
    <div class="container mx-auto w-2/4">
        <div class="flex justify-between mb-4">
            <div>
                <h1 class=" text-xl font-bold">We Use Cookies</h1>
            </div>
            <div>
                <i class="fa-solid fa-xmark bg-gray-500 text-white p-1 rounded"></i>
            </div>
        </div>
        <div>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, soluta quos, eveniet quasi illum amet
                aliquid excepturi ut dolor, eos cupiditate eligendi cum. Dolore laborum beatae eligendi, aliquid ratione cum. Dolore laborum beatae eligendi, aliquid ratione cum. Dolore laborum beatae eligendi, aliquid ratione
                vero!</p>
            <div class="flex">
                <div class="btn  bg-red-600 text-white py-3 px-20 text-md font-medium rounded-lg mr-5">Cancel</div>
                <div class="btn  bg-purple-600 text-white py-3 px-20 text-md font-medium rounded-lg">Confirm</div>
            </div>
        </div>
    </div>
</body>

</html>