<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./output.css" rel="stylesheet">
</head>

<body>

    <!-- third comment -->
    <div class="container mx-auto">
        <h1 class="text-center text-2xl my-8 text-black">Band Of Directors</h1>
        <div class="flex justify-between">
            <div class="w-screen">
                <img src="component/pexels-tirachard-kumtanom-112571-733853.jpg" class="rounded" alt="">
            </div>
            <div class="px-10">
                <h2 class="mt-7 mb-1 text-xl font-semibold">Steavn Steel</h2>
                <h6 class="mb-3 font.">Opeartional Director</h6>
                <p class="mb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit
                    perspiciatis,<br> dolore ad unde
                    ullam culpa? Quidem quasi quam obcaecati quo aspernatur debitis nisi<br> perspiciatis similique
                    numquam
                    eumnsectetur adipisicing elit. Est impedit sunt porro natus hic. Exercitationem cum nemo magnam
                    similique, quaerat ut amet reprehenderit dolorum sit saepe molestias fugiat fugit rerum.</p>
                <hr>
                <div class="flex justify-between">
                    <div class="items-baseline mt-4">
                        <div class="btn bg-purple-600 py-3 px-6 text-md font-medium rounded"><i
                                class="fa-solid fa-envelope pr-2 text-lg"></i>Get in</div>
                    </div>
                    <div>
                        <ul class="flex justify-center mt-4 ">
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-twitter"></i></li>
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-linkedin-in"></i></li>
                            <li class=" bg-gray-300 rounded-full p-3 px-4 mx-2 font-bold text-xl"><i
                                    class="fa-brands fa-google"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <!-- 4th component -->
    <div class="container mx-auto w-2/4">
        <div class="flex justify-between mb-4">
            <div>
                <h1 class=" text-xl font-bold">We Use Cookies</h1>
            </div>
            <div>
                <i class="fa-solid fa-xmark bg-gray-500 text-white p-1 rounded"></i>
            </div>
        </div>
        <div>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, soluta quos, eveniet quasi
                illum amet
                aliquid excepturi ut dolor, eos cupiditate eligendi cum. Dolore laborum beatae eligendi, aliquid ratione
                cum. Dolore laborum beatae eligendi, aliquid ratione cum. Dolore laborum beatae eligendi, aliquid
                ratione
                vero!</p>
            <div class="flex">
                <div class="btn  bg-red-600 text-white py-3 px-20 text-md font-medium rounded-lg mr-5">Cancel</div>
                <div class="btn  bg-purple-600 text-white py-3 px-20 text-md font-medium rounded-lg">Confirm</div>
            </div>
        </div>
    </div>

    <!-- fifth component -->


    <div class="container mx-auto w-screen h-screen relative">
        <div class="mt-28 w-full h-full bg-cover relative"
            style="background-image: url(component/pexels-tirachard-kumtanom-112571-733853.jpg);">
            <div class="absolute bottom-0 text-white py-7 px-5">
                <h1 class=" font-bold text-3xl ">Bali</h1>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur optio distinctio
                    perferendis...
                </p>
            </div>
        </div>
    </div>


    <!-- six-container -->
    <div class="container my-28 mx-auto">
        <div class="grid grid-cols-4 mb-9 justify-between w-screen">
            <div class="flex flex-col justify-between">
                <div class="font-semibold">Newsletter</div>
                <div class="font-semibold text-xl">
                    <form class="mx-auto mt-5">
                        <div class="mb-5">
                            <input type="email" id="email"
                                class="w-42 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 block p-2.5"
                                placeholder="Enter Your E-mail" required />
                        </div>
                        <button type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-28 px-5 py-2.5 text-center">Submit</button>
                    </form>
                </div>
            </div>
            <div class="flex flex-col justify-">
                <div class="font-semibold">Follow Us</div>
                <div class="text-center mr-20 mt-3 ">
                    <ul class="flex justify-center ">
                        <li class=" bg-gray-300 rounded-full p-2 px-4 mr-2 font-bold text-xl"><i
                                class="fa-brands fa-facebook-f"></i></li>
                        <li class=" bg-gray-300 rounded-full p-2 px-3 mx-2 font-bold text-xl"><i
                                class="fa-brands fa-twitter"></i></li>
                        <li class=" bg-gray-300 rounded-full p-2 px-3 mx-2 font-bold text-xl"><i
                                class="fa-brands fa-twitter"></i></li>
                        <li class=" bg-gray-300 rounded-full p-2 px-3 mx-2 font-bold text-xl"><i
                                class="fa-brands fa-google"></i></li>
                        <li class=" bg-gray-300 rounded-full p-2 px-3 mx-2 font-bold text-xl"><i
                                class="fa-brands fa-linkedin-in"></i></li>
                    </ul>
                </div>
            </div>
            <div class="flex flex-col justify-around">
                <div class="font-semibold text-xl ">Get in touch</div>
                <div class="text-gray-600">live chat</div>
                <div class="text-gray-600">Call Us</div>
                <div class="text-gray-600">Video Chat</div>
            </div>
            <div class="flex flex-col ">
                <div class="ml-1">Language</div>
                <div>
                    <form class="max-w-sm mt-3 mx-auto">
                        <select
                            class="bg-gray-50 border-2  border-purple-600 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-28 p-2.5">
                            <option selected>ENGLISH</option>


                            <option value="US">HINDI</option>
                            <option value="CA">GUJARATI</option>
                            <option value="FR">JAPANESE</option>
                            <option value="DE">GERMANY</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center my-5">
            <h5 class="text-lg">Sitemap. Privacy @ Robowolf, Sint-peterson</h5>
        </div>
    </div>

    <!-- seven container -->
    <div class="container mx-auto">
        <div class="w-screen bg-white">
            <img class="w-2/4" src="component/pm.jpg" alt="">
            <div class="flex justify-between items-center w-2/4">
                <div>
                    <h1 class="font-semibold text-3xl">Dual clock</h1>
                    <p>Midnight blue</p>
                </div>
                <div>
                    <h1 class="text-2xl text-gray-400">$80</h1>
                </div>
            </div>
            <h1 class="font-semibold text-xl">4.8 <i class="fa-solid fa-star text-yellow-600"></i><i class="fa-solid fa-star text-yellow-600"></i><i
                        class="fa-solid fa-star text-yellow-600"></i><i class="fa-solid fa-star text-yellow-600"></i><i
                        class="fa-solid fa-star text-yellow-600"></i></h1>

        </div>
    </div>


</body>

</html>